@model BookPageVm

<form asp-action="UpdateBook" asp-controller="Book" method="post">

    <input type="hidden" asp-for="Book.Id" />

    <div>
        <input type="text" asp-for="Book.Title" />
    </div>

    <div>
        <select asp-for="Book.CategoryId" asp-items='new SelectList(Model.Categories,"Id","CategoryName")'>
            <option>Lütfen kategori seciniz</option>
        </select>

    </div>

    <div>
        <button>Kitap Güncelle</button>
    </div>

</form>