@model Category

<form asp-controller="Category" asp-action="CreateCategory" method="post">

    <div>
        <input type="text" asp-for="CategoryName" placeholder="Isim giriniz" />

    </div>

    <div>
        <button class="btn btn-primary">Ekle</button>
    </div>


</form>
